:root {
	--light: #fc8f49;
	--deep: #fd4f30;
	--lightTxt: #828282;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	font-family: "Montserrat", sans-serif;
}

.light-org {
	color: var(--light);
}
.flexed {
	display: flex;
}
.header-area {
	margin: 80px 100px;
	justify-content: center;
	align-items: center;
}
.header-area h1 {
	font-size: 60px;
	text-transform: capitalize;
}
.header-area p {
	margin: 50px 0;
	font-size: 20px;
	color: var(--lightTxt);
}

.left-side,
.right-side {
	width: 50%;
	box-sizing: border-box;
}

.btn {
	font-size: 20px;
	font-weight: 700;
	color: #ffffff;
	margin: 10px 0;
	padding: 18px 30px;
	border-radius: 30px;
	background-image: linear-gradient(to right, var(--deep), var(--light));
	text-transform: capitalize;
	display: inline-block;
	transition: 0.5s;
}

.btn:hover {
	color: #000000;
	background-image: linear-gradient(to right, var(--light), var(--deep));
}

/* About section */
.about-section {
	background-image: url("images/bg1.png");
	padding: 80px 100px 0 100px;
	background-repeat: no-repeat;
	background-size: cover;
}
.about-section .left-side {
	text-align: center;
}
.about-section .left-side img {
	width: 338px;
	height: auto;
}

.about-section .right-side {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 40px;
}
h2 {
	color: #707070;
	font-size: 40px;
	font-weight: 700;
	text-transform: capitalize;
}

.about-section .right-side p {
	margin: 60px 150px 60px 0;
}
p {
	font-size: 18px;
	line-height: 2em;
}

.blog-section {
	margin: 100px auto;
	text-align: center;
}
blog-items {
	justify-content: center;
}
.blog-section p {
	width: 700px;
	margin: 40px auto;
}
.blog-item {
	float: left;
	width: 33.33333333333%;
	box-sizing: border-box;
}
.blog-item img {
	width: 335px;
	margin: 0 auto;
	display: block;
}
.blog-content {
	width: 380px;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 auto;
	text-align: left;
	justify-content: center;
}
